/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}


/* BASE.HTML */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(245, 245, 245, 1);
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  margin-bottom: 15vh;
}

.top-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 25vh;
  margin-bottom: 15vh;
}

.bot-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

nav {
  z-index: 50;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2vh 2vw;
  background: rgba(249, 249, 249, 1);
  box-shadow: inset 0px -0.1vh 0px rgba(197, 197, 197, 1);
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 16.5vw;
}

.nav-icon span {
  font-size: 2.8vh;
  margin-left: 1vw;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.nav-icon img {
  width: 3.5vw;
  transform: rotate(0deg) translateX(0.55vw);
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 1vw;
  font-size: 1.8vh;
  font-weight: 500;
  text-decoration: none;
  color: rgba(65, 65, 65, 1);
  position: relative;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.3vh;
  left: 0;
  width: 100%;
  height: 0.1vh;
  transform: scale(0);
  transform-origin: left;
  background: rgba(51, 51, 51, 1);
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

@media (max-width: 900px) {
  nav {
    padding: 2vh 2vw;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 2.2vh;
  }

  .main-navlinks {
    order: 1;
    width: auto;
  }

  .hamburger {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    border: none;
    display: flex;
    background: rgba(249, 249, 249, 1);
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 0.4vh;
    background: rgba(51, 51, 51, 1);
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(1.4vh);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-1.4vh);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: rgba(249, 249, 249, 1);
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 2vh 5vw 2vh 2vw;
    box-shadow: inset 0px -0.1vh 0px rgba(197, 197, 197, 1);
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 1.8vh;
    margin: 1vh 0px;
  }

  .navlinks-container a span {
    display: inline-block;
    transition: color 0.3s;
  }

}

.color-0:hover {
  color: rgba(245, 172, 33, 1);
}

.color-1:hover {
  color: rgba(231, 47, 35, 1);
}

.color-2:hover {
  color: rgba(219, 45, 134, 1);
}

.color-3:hover {
  color: rgba(73, 164, 219, 1);
}

.color-4:hover {
  color: rgb(86, 187, 173);
}

.color-0:hover::after {
  background: rgba(245, 172, 33, 1);
}

.color-1:hover::after {
  background: rgba(231, 47, 35, 1);
}

.color-2:hover::after {
  background: rgba(219, 45, 134, 1);
}

.color-3:hover::after {
  background: rgba(73, 164, 219, 1);
}

.color-4:hover::after {
  background: rgb(86, 187, 173);
}

/* HOME.HTML */

.intro-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 249, 247, 1);
  z-index: 1000;
  opacity: 1;
  transition: opacity 4s cubic-bezier(1, 0, 1, 1);
}

.intro-animation img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  display: flex;
  max-width: 90vw;
  position: relative;
  margin-top: 6vh;
}

.wrapper i {
  top: 50%;
  height: 4.4vh;
  width: 4.4vh;
  color: rgba(52, 63, 79, 1);
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 4.4vh;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: rgba(242, 242, 242, 1);
}

.wrapper i:first-child {
  left: -2.2vh;
  display: none;
}

.wrapper i:last-child {
  right: -2.2vh;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: auto;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 40vh;
  object-fit: cover;
  user-select: none;
  margin-left: 1.4vw;
  width: auto;
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

.slogan-container {
  padding-top: 5vh;
  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  max-width: 50%;
}

.slogan-container h2 {
  color: rgba(17, 17, 17, 1);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
}

.slogan-container p {
  color: rgba(127, 127, 127, 1);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.6;
}

/* PAGE OURPROJECT.HTML */

.wpb_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin: 5%;
  width: 100%;
}

/* ABOUTUS.HTML */

.about-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 15px auto;
  margin-top: 40px;
  position: absolute;
  top: 12vh;
}

.about-heading h1 {
  font-size: 50px;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 25px;
  position: relative;
}

.about-heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: rgba(73, 164, 219, 1);
}

.about-heading p {
  font-size: 18px;
  color: rgba(127, 127, 127, 1);
  margin-bottom: 35px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  border-radius: 5px;
}

.about-image:hover img {
  transform: scale(1.1);
  border-radius: 5px;
}

.about-content {
  flex: 1;
  padding: 20px;
}

.about-content-text {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
}

.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: rgba(51, 51, 51, 1);
}

.about-content p {
  font-size: 17px;
  line-height: 1.6;
  color: rgba(127, 127, 127, 1);
}

li {
  font-size: 15px;
  line-height: 1.6;
  color: rgba(127, 127, 127, 1);
}

.about-content .read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(73, 164, 219, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px rgba(73, 164, 219, 1) solid;
}

.about-content .read-more:hover {
  background-color: rgb(0, 127, 206);
  transform: scale(1.15);

}

@media screen and (max-width: 768px) {

  .about-heading {
    padding: 0px 20px;
  }

  .about-heading h1 {
    font-size: 36px;
  }

  .about-heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .about {
    padding: 20px;
    flex-direction: column;
  }

  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .about-content p {
    padding: 0px;
    font-size: 16px;
  }

  .about-content .read-more {
    font-size: 16px;

  }
}

/* OURPROJECT.HTML */

.project-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 15px auto;
  margin-top: 40px;
  position: absolute;
  top: 12vh;
}

.project-heading h1 {
  font-size: 50px;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 25px;
  position: relative;
}

.project-heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: rgba(231, 47, 35, 1);
}

.project-heading p {
  font-size: 18px;
  color: rgba(127, 127, 127, 1);
  margin-bottom: 35px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
}

.image-right {
  margin-left: 40px;
  margin-right: -40px;
}

.project-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  border-radius: 5px;
}

.project-image:hover img {
  transform: scale(1.15);
  border-radius: 5px;
}

.project-content {
  flex: 1;
  padding: 20px;
}

.project-content-text {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: rgba(51, 51, 51, 1);
}

.project-content p {
  font-size: 17px;
  line-height: 1.6;
  color: rgba(127, 127, 127, 1);
}

@media screen and (max-width: 768px) {

  .project-heading {
    padding: 0px 20px;
  }

  .project-heading h1 {
    font-size: 36px;
  }

  .project-heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .project {
    padding: 20px;
    flex-direction: column;
  }

  .project-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .project-content p {
    padding: 0px;
    font-size: 16px;
  }

  .project-content .read-more {
    font-size: 16px;

  }
}

/* YOUREXPLORATION.HTML */

.exploration-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 15px auto;
  margin-top: 40px;
  position: absolute;
  top: 12vh;
}

.exploration-heading h1 {
  font-size: 50px;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 25px;
  position: relative;
}

.exploration-heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color:  rgba(219, 45, 134, 1);
}

.exploration-heading p {
  font-size: 18px;
  color: rgba(127, 127, 127, 1);
  margin-bottom: 35px;
}

.exploration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.exploration-content {
  flex: 1;
  padding: 20px;
}

.exploration-content-text {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;  
}

.exploration-content h2 {
  font-size: 23px;
  color: rgba(51, 51, 51, 1);
}

.exploration-content p {
  font-size: 17px;
  line-height: 1.6;
  color: rgba(127, 127, 127, 1);
}

font {
  color: rgba(219, 45, 134, 1)
}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background: rgba(17, 17, 17, 1);
  border-radius: 20px;
  overflow: hidden;
  margin-left: 120px;
  margin-right: 120px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, rgba(219, 45, 134, 1), rgba(219, 45, 134, 1));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, rgba(219, 45, 134, 1), rgba(219, 45, 134, 1));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 4px;
  background:  rgba(31, 31, 31, 1);
  z-index: 10;
  border-radius: 20px;
  padding:30px 40px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  color:rgba(219, 45, 134, 1);
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.2em;
}

.form label{
  color:rgba(71, 71, 71, 1);
  font-weight: 600;
}

.custom-select {
  background:rgba(51, 51, 51, 1);
  color:rgba(249, 249, 249, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px rgba(51, 51, 51, 1) solid;
  border-radius: 0.5em;
  padding: 0.6em;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 0.05em;
}

.custom-select:hover {
  background: rgba(17, 17, 17, 1);
  transform: scale(1.08);
}

.custom-select option {
  background-color: rgba(51, 51, 51, 1);
  color: rgba(249, 249, 249, 1);
}

.custom-select option:hover {
  background-color: rgba(51, 51, 51, 1);
  color: rgba(249, 249, 249, 1);
}

.custom-select option:checked {
  background-color: rgba(17, 17, 17, 1);
  color: rgba(249, 249, 249, 1);
}

input[type="submit"]
{
  border: none;
  outline: none;
  color: rgba(249, 249, 247, 1);
  background: rgba(219, 45, 134, 1);
  border: 2px rgba(219, 45, 134, 1) solid;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  letter-spacing: 0.015em;
}

input[type="submit"]:hover {
  background: rgb(180, 0, 93);
  transform: scale(1.15);
}

/* CONTACTUS.HTML */

.contact-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 15px auto;
  margin-top: 40px;
  position: absolute;
  top: 12vh;
}

.contact-heading h1 {
  font-size: 50px;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 25px;
  position: relative;
}

.contact-heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color:  rgb(86, 187, 173);
}

.contact-heading p {
  font-size: 18px;
  color: rgba(127, 127, 127, 1);
  margin-bottom: 35px;
}

/* FOOTER */

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: rgba(31,31,31,1);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: rgba(255,255,255,1);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(219, 45, 134, 1);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-weight: 300;
  color: rgba(187,187,187,1);
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgba(255, 255, 255, 1);
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: rgba(255, 255, 255, 1);
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}