{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <section class="TextStyleBodyC">
            <h2> <br> </h2>
            <h2> Contact </h2>
            <h2> <br> </h2>
            <article>
                <div class="ContGa">
                    <br>
                    <p>Bonjour, cette section vous permet de mettre en place un échange entre vous et nous.</p>
                    <p>Si notre travail vous plait, et que vous voulez réaliser un modèle sur une de vos bases de données ou que vous avez une idée précise.</p>
                    <br>
                    <p>Budget par réalisation d'étude varie, cependant il est de minimum 50€. Il est rediscuter par le temps de réalisation demander, la taille du jeux de données et des conditions/ajout.</p>
                    <br>
                    <img class="BodyImageC" alt="ImageContacte" src="../static/pictures/SupportContact.webp"/>
                </div>
                <div class="ContDr">
                    <br>
                    <a href="Mail Type.html"><img class="BodyImageC" alt="ExempleMail" src="Mail TER.PNG"/></a>
                    <p>Afin de prendre contacte avec nous merci de nous formuler un mail à l'adresse suivante : creationmodeleter@gmail.com</p>
                    <p>Merci de respecter le corp du mail suivant l'image si dessous, afin de facilier nos futur échange.</p>
                    <br>
                    <p>Le temps de réponse peut varier mais nous ferons notre maximum pour vous répondre dans la semaine. Hors férié et vacances scolaire.</p>
                    <a href="Mail Type.html">Si le chargement de l'image ne s'effectue pas merci de cliquer ici.</a>
                    <br>
                </div>
            </article>
        </section>
        {% endblock %}