
{% extends 'base.html' %}

{% block title %}Data{% endblock %}
{% block content %}
<section class="TextStyleBody">
    <h2>La Data-Base actuelle utilisée est "Cifar10" avec comme variable "Label" sélectionnée. <br> La méthode de réduction choisie est "t-SNE".</h2>
    <article>
        
            <form action="/Data/" method="post">
      <label for="modele">Modèle :</label>
      <select name="modele" id="modele">
        {% for modele in MODELES %}
          <option value="{{ modele }}">{{ modele }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="tache">Tâche :</label>
      <select name="tache" id="tache">
        {% for tache in TACHES %}
          <option class="{{ tache }}" value="{{ tache }}">{{ tache }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="reduction">Réduction de dimension :</label>
      <select name="reduction" id="reduction">
        {% for reduction in REDUCTIONS %}
          <option class="{{ reduction }}" value="{{ reduction }}">{{ reduction }}</option>
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Afficher">
    </form>
        
        <div class="Restitution">
            <p>
                {{ div|safe }}
                {{ script|safe }}
                
                <script src="http://cdn.pydata.org/bokeh/release/bokeh-3.0.2.min.js"></script>
                <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.0.2.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
                
            </p>
        </div>
    </article>
    <script>
  $(document).ready(function() {
    // Récupérer les options de tâches et de réductions de dimensions pour chaque modèle
    var options = {
      {% for modele in MODELES %}
      '{{ modele }}': {
        {% set taches = [] %}
        {% for fichier in fichiers_data if fichier.startswith(modele) %}
        {% set _ = taches.append(fichier.split('_')[1]) if fichier.split('_')[1] not in taches  %}
        {% endfor %}
        {% for tache in taches %}
        '{{ tache }}': [
          {% set reductions = [] %}
          {% for fichier in fichiers_data if fichier.startswith(modele) and fichier.split('_')[1] == tache %}
          {% set _ = reductions.append(fichier.split('_')[2].split('.')[0]) if fichier.split('_')[2].split('.')[0] not in taches %}
          {% endfor %}
          {% for reduction in reductions %}
          '{{ reduction }}',
          {% endfor %}
        ],
        {% endfor %}
      },
      {% endfor %}
    }

    // Mettre à jour les options de tâches et de réductions de dimensions en fonction du modèle et de la tâche sélectionnée
    $('#modele').on('change', function() {
      var modele = $(this).val();
      var taches = options[modele];

      var tache_select = $('#tache');
      tache_select.empty();
      $.each(taches, function(tache, reductions) {
        tache_select.append($('<option/>', { value: tache, text: tache }));
      });

      var reduction_select = $('#reduction');
      reduction_select.empty();
      $.each(taches[$('#tache').val()], function(index, reduction) {
        reduction_select.append($('<option/>', { value: reduction, text: reduction }));
      });
    });

    $('#tache').on('change', function() {
      var modele = $('#modele').val();
      var tache = $(this).val();
      var reductions = options[modele][tache];

      var reduction_select = $('#reduction');
      reduction_select.empty();
      $.each(reductions, function(index, reduction) {
        reduction_select.append($('<option/>', { value: reduction, text: reduction }));
      });
    });
  });
</script>
    <!-- <script>
  $(document).ready(function() {
    // Récupérer les options de tâches et de réductions de dimensions pour chaque modèle
    var options = {
      {% for modele in MODELES %}
      '{{ modele }}': {
        taches: [
          {% set taches = [] %}
          {% for fichier in fichiers_data if fichier.startswith(modele) %}
            {% if fichier.split('_')[1] not in taches %}
              {% set _ = taches.append(fichier.split('_')[1]) %}
              '{{ fichier.split('_')[1] }}',
            {% endif %}
          {% endfor %}
        ],
        reductions: [
          {% set reductions = [] %}
          {% for fichier in fichiers_data if fichier.startswith(modele) %}
            {% if fichier.split('_')[2].split('.')[0] not in reductions %}
              {% set _ = reductions.append(fichier.split('_')[2].split('.')[0]) %}
              '{{ fichier.split('_')[2].split('.')[0] }}',
            {% endif %}
          {% endfor %}
        ]
      },
      {% endfor %}
    }

    // Mettre à jour les options de tâches et de réductions de dimensions en fonction du modèle sélectionné
    $('#modele').on('change', function() {
      var modele = $(this).val();
      var taches = options[modele].taches;
      var reductions = options[modele].reductions;

      var tache_select = $('#tache');
      tache_select.empty();
      $.each(taches, function(index, tache) {
        tache_select.append($('<option/>', { value: tache, text: tache }));
      });

      var reduction_select = $('#reduction');
      reduction_select.empty();
      $.each(reductions, function(index, reduction) {
        reduction_select.append($('<option/>', { value: reduction, text: reduction }));
      });
    });
  });
</script>
    <script>
    const modeleSelect = document.querySelector("#modele");
    const tacheSelect = document.querySelector("#tache");
    const reductionSelect = document.querySelector("#reduction");

    // Initialiser les options des listes déroulantes
    let tacheOptions = document.querySelectorAll(".tache");
    let reductionOptions = document.querySelectorAll(".reduction");

    // Fonction pour mettre à jour les options des listes déroulantes
    const updateOptions = () => {
        tacheOptions.forEach((option) => {
            if (option.classList.contains(modeleSelect.value)) {
                option.removeAttribute("disabled");
            } else {
                option.setAttribute("disabled", "");
            }
        });

        reductionOptions.forEach((option) => {
            if (option.classList.contains(modeleSelect.value)) {
                option.removeAttribute("disabled");
            } else {
                option.setAttribute("disabled", "");
            }
        });

        // Sélectionner la première option disponible pour chaque liste déroulante
        tacheSelect.value = tacheOptions[0].value;
        reductionSelect.value = reductionOptions[0].value;
    };

    // Appeler la fonction pour initialiser les options des listes déroulantes
    updateOptions();

    // Écouter les changements sur la liste déroulante des modèles
    modeleSelect.addEventListener("change", () => {
        updateOptions();
    });
</script> -->
</section>





{% endblock %}