{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body_class %}custom-background{% endblock %}

{% block content %}

<section class="TextStyleBody">
  <div class="heading-container">
    <article class="box-container">
      <h1>bienvenue sur notre site dédié au projet de recherche encadré</h1>
    </article>


    </article>
    <div class="heading-container">
      <h2>le projet</h2>
    </div>
    <article class="box-container">
      <div class="Boite text-container">
        <div class="inner-container">
          <h3> quel est notre objectif ? comment ça fonctionne ? </h3>
          <p class="custom-line-height">Lors de notre première année de master, un travail encadré de recherche nous a
            été assigné. <br> L'objectif
            de ce projet est de concevoir une architecture capable de traiter un vaste ensemble de données d'images et
            de les transformer afin de faire apparaître, ou non, des relations entre elles. Pour traîter les images,
            nous avons utilisé des outils étudiés en cours comme la réduction de dimensions et le deep learning.</p>
        </div>
      </div>
      <div class="Boite">
        <img class="BodyImage" alt="ImageGroupe" src="../static/img/dim_reduc.jpg" />
      </div>
    </article>

    <div class="heading-container">
      <h2>applications potentielles</h2>
    </div>
    <article class="box-container">
      <div class="Boite">
        <img class="BodyImage" alt="ImageGroupe" src="../static/pictures/Plantation.jpg" />
      </div>
      <div class="Boite text-container">
        <div class="inner-container">
          <h3>comment cela pourrait aider ?</h3>
          <p>Les applications potentielles de cet outil sont multiples et pourraient s'appliquer à de nombreux domaines:
          </p>
          <ul>
            <li><strong>Astronomie :</strong> tri rapide des images pour faciliter les analyses.</li>
            <li><strong>Agriculture :</strong> surveillance de la santé des cultures via des caméras.</li>
            <li><strong>Art :</strong> analyse des peintures et détection des contrefaçons.</li>
            <li><strong>Médecine :</strong> diagnostic rapide à partir d'images médicales.</li>
            <li><strong>Environnement :</strong> surveillance via l'analyse d'images satellites.</li>
            <li><strong>Industrie :</strong> amélioration du contrôle qualité.</li>
            <li><strong>Transport :</strong> optimisation des systèmes de conduite autonome.</li>
            <li><strong>Archéologie :</strong> détection de structures enfouies via images aériennes et données LiDAR.
            </li>
          </ul>
        </div>
      </div>

      <h2>l'équipe</h2>
  </div>
  <article class="box-container">

    <div class="Boite text-container">
      <div class="inner-container">
        <h3>qui sommes-nous ?</h3>
        <p class="custom-line-height">Nous sommes un groupe de cinq étudiants du Master MIASHS (mathématiques et
          informatique appliquées aux sciences humaines et sociales), une formation spécialisée en data science à
          Montpellier.<br> Notre équipe est constituée de profils variés,
          incluant des étudiants en reprise d'études, des personnes en réorientation et d'autres poursuivant simplement
          leur cursus.<br> Elle a pour objectif d'acquérir un ensemble solide de compétences afin de contribuer au
          développement d'intelligences artificielles innovantes.</p>
      </div>
    </div>
    <div class="Boite">
      <img class="BodyImage" alt="ImageGroupe" src="../static/pictures/Who.jpg" />
    </div>
  </article>
</section>
{% endblock %}