{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}<section class="TextStyleBody">
    <h2> Qui sommes-nous ? </h2>
    <article>
     <div class="Boite">
   <img class="BodyImage" alt="ImageGroupe" src="../static/pictures/Who.jpg"/>
     </div>
     <div class="Boite">
      <br><br>
      <p>Bonjour, nous sommes 5 étudiants en master MIASHS.</p>
      <p>Le master MIASHS est un master de mathématiques et informatiques appliquées aux sciences humaines et sociales.</p>
      <p>Notre groupe est composé de plusieurs profils, certain d'entre nous sont en reprise d'études d'autres se sont réorientés et d'autre encore poursuive simplement leurs cursus.</p>
      <p>Nous avons pour but plus tard de devenir des Data-Scientists.</p>
     </div>
    </article>
 
    <h2> Quel est notre objectif ? Et comment ça marche ? </h2>
    <article>
     <div class="Boite">
      <br><br>
        <p>En début d'année, un projet nous a été donné.</p>
      <p>L'objectif de ce dernier est de créer une architecture capable de traiter un grand jeu de données d'image et d'en faire des groupes. </p>
      <p>Nous nous sommes servis de machine learning et d'autres outils étudiés en cours pour créer nos modèles </p>
      </div>
    <div class="Boite">
   <img class="BodyImage" alt="ImageGroupe" src="../static/pictures/Objectif.png"/>
     </div>
    </article>
 
    <h2> Comment cela pourrait aider ?  </h2>
    <article>
     <div class="Boite">
   <img class="BodyImage" alt="ImageGroupe" src="../static/pictures/Plantation.jpg"/>
     </div>
     <div class="Boite">
      <br><br>
      <p>Les cas d'application sont multiples. Une fois fini cette outil pourrait permettre d'améliorer grandment le quotidien de plusieurs personnes.</p>
      <p>Nous pouvons donner quelques exemples. Les astronaumes ont énormément d'images mais pas assez de temps. Cet outil pourrait leur permettre de faire un premier trie selon les critères qu'il souhaite</p>
      <p>Pour l'agriculture, des caméras pourrait prendre en photo les plantations et analyser régulièrement l'état de ces dernieres. Si elles font partie des cas de bonne santé ou non.</p>
      <p>Dans l'art, n'importe qui pourrait étudier une peinture sans avoir une culture immense et sans même savoir comment la toile s'appelle.</p>
     </div>
    </article>
 
   </section>{% endblock %}