<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>L'art des mathématiques - Exemple mail</title>
    </head>

    <body>

        creationmodeleter@gmail.com<br>
        <br><br>
        Thème : XXXXX<br>
        <br><br>
        Bonjour, <br>
        <br><br>
        Qui ? 
        Légère description de vous. <br>
        <br><br>
        Le but ? <br>
        Description de votre but et de votre demande. <br>
        <br><br>
        Fiche personnelle : <br>
        Nom / Nom entreprise : XXX<br>
        Mail : XXX@XX.XX<br>
        Tel : XX.XX.XX.XX.XX<br>
        Budget attribué : XXX<br>
        Temps de réalisation : XX (Semaines)<br>
        Niveau de confidentialité : Public / Sensible / Confidentiel <br>
        Condition : XXX
        <br><br>
        La base de données : <br>
        En lien ou description précise.<br>
        <br><br>
        Cordialement<br>
        Signature<br>


    </body>
</html>