{% extends 'base.html' %}

{% block title %}About us - VisualAIExplorer{% endblock %}

{% block content %}

<div class="about-heading">
    <h1>LEARN ABOUT US</h1>
    <!-- <p>ceci est une phrase de test</p> -->
</div>
<div class="top-container">
    <section class="about">
        <div class="about-image">
            <img src="{{ url_for('static', filename='img/aboutUs.jpg') }}" alt="img">
        </div>
        <div class="about-content">
            <div class="about-content-text">
            <h2>
                Qui sommes-nous ?
            </h2>
            <p>Nous sommes un groupe de cinq étudiants du Master MIASHS (mathématiques et
                informatique appliquées aux sciences humaines et sociales), une formation spécialisée en data science à
                Montpellier.<br> Notre équipe est constituée de profils variés,
                incluant des étudiants en reprise d'études, des personnes en réorientation et d'autres poursuivant
                simplement leur cursus.<br> Elle a pour objectif d'acquérir un ensemble solide de compétences afin de contribuer au
                développement d'intelligences artificielles innovantes.</p>
            </div>
            <a href="https://ufr6.www.univ-montp3.fr/fr/formation/masters/master_miashs" class="read-more">Read more</a>
        </div>
    </section>
</div>

{% endblock %}