{% extends 'base.html' %}

{% block title %}About us - VisualAIExplorer{% endblock %}

{% block content %}

<div class="about-heading fade-in-B">
    <h1>About us</h1>
    <!-- <p>ceci est une phrase de test</p> -->
</div>
<div class="top-container">
    <section class="about">
        <div class="about-image fade-in-C">
            <img src="{{ url_for('static', filename='img/aboutUs.jpg') }}" alt="img">
        </div>
        <div class="about-content fade-in-D">
            <div class="about-content-text">
                <h2>
                    Who are we?
                </h2>
                <p>We are a group of five students of the Master MIASHS (mathematics and computer science applied to
                    human and social sciences), a training specialized in data science in Montpellier.<br>Our team is
                    composed of various profiles, including students who are returning to school, others who are
                    reorienting their studies and some who are simply continuing their studies.<br>Our goal is to acquire a
                    solid set of skills to contribute to the development of innovative artificial intelligence.</p>
            </div>
            <a href="https://ufr6.www.univ-montp3.fr/fr/formation/masters/master_miashs" class="read-more fade-in-E">READ MORE</a>
        </div>
    </section>
</div>

{% endblock %}