{% extends 'base.html' %}

{% block title %}Home - VisualAIExplorer{% endblock %}

{% block content %}

<div class="intro-animation intro-animation-active">
    <img src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="Intro Image">
</div>

<div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <div class="carousel">
        {% for img_file in img_files %}
            <img src="{{ url_for('static', filename='img/carousel/' + img_file) }}" alt="img" draggable="false">
        {% endfor %}
    </div>
    <i id="right" class="fa-solid fa-angle-right"></i>
</div>

<div class="slogan-container">
    <h2>Explore, learn, discover</h2>
    <p>A journey into the heart of image classification with artificial intelligence</p>
</div>

{% endblock %}