{% extends 'base.html' %}

{% block title %}Our Project - VisualAIExplorer{% endblock %}

{% block content %}

<div class="project-heading">
    <h1>Our project</h1>
    <!-- <p>ceci est une phrase de test</p> -->
</div>
<div class="top-container">
    <section class="project">
        <div class="project-content">
            <div class="project-content-text">
                <h2>
                    What is our goal? How does it work?
                </h2>
                <p>
                    During our first year of the Master's program, we were
                    assigned a research project. <br><br>The objective of this
                    project is to design an architecture able to process a
                    large set of image data and to transform them in order
                    to reveal, or not, relationships between them. To process the images, we used tools studied in class
                    such as dimension reduction and classification using deep learning.
                </p>
            </div>
        </div>
        <div class="project-image image-right">
            <img src="{{ url_for('static', filename='img/dimension_reduction.jpg') }}" alt="img">
        </div>
    </section>
</div>

<div class="container">
    <section class="project">
        <div class="project-image">
            <img src="{{ url_for('static', filename='img/multiple_applications.png') }}" alt="img">
        </div>
        <div class="project-content">
            <div class="project-content-text">
                <h2>
                    How can this be usefull?
                </h2>
                <p>
                    The potential applications of this tool are multiple and
                    could be applied to many fields:
                </p>
                <p>
                    <li><strong>Astronomy:</strong> quick image sorting for easier analysis</li>
                    <li><strong>Agriculture:</strong> monitoring crop health using cameras</li>
                    <li><strong>Art:</strong> analysis of paintings and detection of counterfeits</li>
                    <li><strong>Medicine:</strong> rapid diagnosis from medical images</li>
                    <li><strong>Environment:</strong> monitoring through satellite image analysis</li>
                    <li><strong>Industry:</strong> improvement of quality control</li>
                    <li><strong>Transportation:</strong> optimization of autonomous driving systems
                    </li>
                    <li><strong>Archaeology:</strong> detection of buried structures using aerial images
                        and LiDAR data.</li>
                </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}