@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Style du body */
body {
  font-family: Calibri, sans-serif;
  background: rgba(17, 17, 17, 1);
  font-size: 16px;
  color: #111;
  position: relative;
  overflow-y: scroll;
}

body::before {
  content: "";
  background-image: url('../img/background.jpg');
  background-position: center top;
  background-size: 100%;
  opacity: 0.85;
  /* Ajustez cette valeur pour modifier l'opacité (0 = opaque, 1 = transparent) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(17, 17, 17, 0.8);
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* Style the navigation bar links */
.navbar a {
  transition: all 300ms ease;
  color: white;
  text-align: center;
  padding: 23px 30px;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1vw;
}

.navbar p {
  display: flex;
  align-items: center;
  color: rgba(245, 245, 245, 1);
  text-align: center;
  padding: 0px 3%;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 1.15vw;
}

.navbar .navbar-right {
  display: flex;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgba(17, 17, 17, 1);
  color: rgba(245, 245, 245, 1);
}

.heading-container {
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 30px;
  font-variant: small-caps;
  text-align: center;
  color: #111;
  border: 3px solid #111;
  border-style: solid;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 1);
  margin: 10px;
  margin-top: 100px;
  padding: 30px;
}

h2 {
  display: inline-block;
  font-size: 24px;
  font-variant: small-caps;
  text-align: center;
  color: #111;
  padding: 10px;
  padding-left: 26px;
  padding-right: 26px;
  border: 3px solid #111;
  border-style: solid;
  border-radius: 50px;
  background-color: rgba(245, 245, 245, 1);
  margin: 10px;
  margin-top: 100px;
}

h3 {
  font-size: 20px;
  font-variant: small-caps;
  text-align: center;
  color: #111;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px solid #111;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 1);
  margin: 10px;
}

.text-container {
  line-height: 1.5;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.custom-line-height {
  line-height: 1.3 !important;
}

.text-container ul {
  text-align: left;
  padding-right: 25%;
}

.Pied {
  font-weight: bolder;
  color: rgba(0, 0, 0, 1);
}

.ContDr a,
.Pied a {
  color: rgb(255, 255, 255);
}

.box-container {
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.Boite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 20px;
  background-color: none;
}

.inner-container {
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.BodyImage {
  max-width: 100%;
  border-radius: 100px;
  border: 4px solid rgba(245, 245, 245, 1);
  border-style: solid;
  width: 75%;
}

.TextStyleBody {
  margin-top: 0px;
}

.TextStyleBody .text-container h2,
.TextStyleBody .text-container h3 {
  margin-top: -50px;
  margin-bottom: 16px;
}

.TextStyleBody .text-container p {
  font-size: 18px;
  line-height: 100%;
  margin: 0;
  text-align: left;
  width: 100%;
}

/* CSS contact */
.ContGa,
.ContDr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  float: left;
}

.TextStyleBodyC {
  font-size: 18px;
  line-height: 100%;
  margin-left: 2%;
  text-align: left;
}

.TextStyleBodyC p {
  width: 85%;
}

.TextStyleBodyC h2 {
  text-align: center;
}

.BodyImageC {
  position: static;
  margin-bottom: 2%;
  width: 85%;
  border: solid;
  border-color: black;
}

.Parametre {
  border: solid;
  margin-left: 2%;
  float: left;
  width: 20%;
}

.Restitution {
  width: 75%;
  margin-right: 2%;
  float: left;
}

.BodyImageD {
  position: static;
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 5%;
  width: 70%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(rgb(17, 17, 17), rgb(17, 17, 17));
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(245, 245, 245, 0.85);
}

/* Pour les écrans de 17 pouces et plus (largeur supérieure à 1366 pixels) */
@media (min-width: 1367px)and (max-width: 1980px) {
  .navbar p {
    font-size: 1.15vw;
    padding: 0px 3%;
  }
}

/* Pour les écrans de 15,6 pouces (largeur entre 1025 et 1366 pixels) */
@media (min-width: 1025px) and (max-width: 1366px) {
  .navbar p {
    font-size: 1.3vw;
    padding: 0px 2%;
  }
}

/* Pour les écrans inférieurs à 15,6 pouces (largeur inférieure ou égale à 1024 pixels) */
@media (max-width: 1024px) {
  .navbar p {
    font-size: 1.45vw;
    padding: 0px 1%;
  }
}